body{
    background-color: black;
    color:white;
}
.form{
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    box-shadow: lightgrey .25rem .3rem 2rem;
    background-color: grey;
}
.form-field{
font-size: 1.2rem;
width: 75%;
margin-top: 1rem;
border-radius: .25em;    
}
.form-error{
    text-align: left;
    margin-left: 4rem;
    margin-bottom: 0;
    color:red;
    font-size: .75rem;
}

.tos{
    font-size: 1.2rem;
    margin-top:1rem;
}
button{
    font-size: 1.2rem;
    margin-top: 1rem;
}